*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: #555;
}

p{
  color: #555;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn{
  display: inline-block;
  background:  #feb4aeff;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover{
  background: #fcd5ceff;;
}

.header{
  background-color: #fae1ddff;
  height: 500px;
}

.looking-for .row{
  margin-top: 70px;
}

.small-container{
  max-width: 1080px
  margin: auto;
  padding-top: 70PX;
  padding-left: 80px;
  padding-right: 80px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: tranform 0.5s;
}

.col-4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 70px;
  position: relative;
  line-height: 60 px;
  color: #555;
}
.title::after{
  content: "";
  background: #fcd5ceff;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: -5px;
  left: 47%;
  tranform: translateX(47%);
}

h4{
  color: #555;
  font-weight: normal;
}
.col-4 P{
  font-size: 14px;
}
.rating .fa{
  color: #feb4aeff;
}

.col-4:hover{
  transform: translateY(-5px);
}

.small-container-2{
  max-width: 1080px
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
}

/*---- testimonial ----*/
.testimonial{
  padding-top: 90px;
  padding-bottom: 60px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 40px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  transition: tranform 0.5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 15px;
  border-radius: 50%;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}

.fa.fa-quote-left{
  font-size: 34px;
  color: #d0efbdff;
}

.col-3 p{
  font-size: 15px;
  margin: 12px;
  color: #777;
}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}

/*---- footer ----*/
.footer{
  background: #fae1ddff;
  color: #454545ff;
  font-size: 14px;
  padding: 60px 0 30px;
}

.footer p{
  color: #474747ff;
}

.footer h3{
  color: #474747ff;
  margin-bottom: 3px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 3px;
}

.footer-col-1{
  flex-basis: 30px;
}
.footer-col-1 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-2, .footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}

.copyright{
  text-align: center;
  margin-top: 15px;
}


/*--- Product Page ---*/
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid #474747ff;
  padding: 5px;
}
select:focus{
  outline: none;
}

/*--- Single Product Details ---*/
.single-product{
  margin-top: 70px;
}

.single-product .col-2 img{
  padding: 0;
}

.single-product .col-2{
  padding: 25px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #474747ff;
}
input:focus{
  outline: none;
}

.single-product .fa{
  color: #feb4aeff;
}

/*--- Cart ---*/
.cart{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 25px;
    line-height: 30px;
  }
}
